body{
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Oxygen', sans-serif;
}

.text-primary {
    color: rgb(41,153,153);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
