body {
  background: url(/img/cream_dust.png) repeat 0 0;
}

body,html {
    height: 100%;
  }
  
  body {
    padding-top: 50px;
  }
  
  .wide {
    min-width:100%;
    height:100%;
    height:calc(100% - 1px);
    background: url('https://images.unsplash.com/photo-1486693128850-a77436e7ba3c?dpr=1&auto=format&fit=crop&w=1000&q=80&cs=tinysrgb&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D') no-repeat center center fixed;
     /*url('https://c.stocksy.com/a/RcN300/z0/805779.jpg');*/
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
  }
  
  .wide img {
    width:100%;
  }
  
  .logo {
    color:#fff;
    font-weight:800;
    font-size:14pt;
    padding:25px;
    text-align:center;
  }
  
  .line {
    padding-top:20px;
    white-space:no-wrap;
    overflow:hidden;
    text-align:center;
  }
  
  .wide .row {
    margin-right:0;
  }

  .text-white {
    color:white;
  }

  #intro {
    padding: 10em;
    background: rgba(255, 255, 255, 0.15)
  }

#intro em {
  color:#f44;
}

#howtouse {
  background-color:rgb(255, 68, 68);
}

#howtouse h1, #howtouse p {
  color: white;
  
}


#jimminy > div {
  padding: 7em;
  padding-top: 4em;
  padding-bottom: 2em;
}

#jimminy > div {
  font-size: 1.7em;
}

#jimminy p {
  margin-bottom: 1.5em;
}

#jimminy h1 {
  margin-bottom: 1em;
}

#jimminy .container {
  padding: 0;
}

footer {
  color: #ddd;
  background-color: #333;
  height: 6em;
  padding-top:2em;
  font-size: 1.5em;
  display:block;
 
}

footer a {
  color: #f44;
  -moz-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

footer a:hover {
  color:white;
}

#use {
  display: none;
}